
body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


.whatsapp-link {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 20px;
  background-color: #19b552;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: 0.5s;
  line-height: 50px;
}
.whatsapp-link:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
  transition: 0.4s;
  transform: scale(1.2)
}



/* HEADER-NAVBAR Y FOTO PRINCIPAL */
/*************************/
/*** MENU HAMBURGUESA ***/
/***********************/
.navbar-toggler{
  border:solid 2px transparent;
} 
.logo-navbar {
  color: var(--color-hover);
  font-size: 1.5em;
}
.navbar-toggler[aria-expanded="true"] .fa-bars {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .fa-times {
  display: inline-block;
}
.navbar-toggler[aria-expanded="false"] .fa-bars {
  display: inline-block;
}
.navbar-toggler[aria-expanded="false"] .fa-times {
  display: none;
}
.navbar-collapse {
  transition: 0.5s ;
}
/* buscar tipografia de arquitectura */
.diseño-texto-navbar{
color: white;
/* font-family: "Helvetica Neue", Helvetica, sans-serif; */

/* font-weight: 300; */
transition: 0.05s;
letter-spacing: 2px;
}
.diseño-texto-navbar:hover{
color: rgb(151, 109,0);
transition: 0.5s;
}
.fondo-color-del-nav{
  /* background-color: rgba(0, 0, 0, 0.5); */
/* backdrop-filter: blur(5px);  Define el nivel de desenfoque */
transition: background-color 0.3s ease;
padding: 0px 0px;
}
.posicion-nav {
  justify-content: end;
  margin-right: 10%;
  /* width: auto; */
}

/* Estilos del navbar con fondo blanco */
.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
  backdrop-filter: blur(10px) ; /* Aplica un desenfoque */
  /* box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); */
  transition: background-color 0.3s ease-in-out;
}


.img-navbar{
  margin: 0px;
  padding: 0px;
}
.img-navbar img{
  height: 100px;
  padding: 0px 8px;
}






/* img {
   
width: 100%;
height: 100%;
} */
/*************************/
/*** TITULO PRINCIPAL ***/
/***********************/
.carousel-caption {
  /* position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; */
  right: 0%;
  bottom: 0em;
  left:0%;
  padding-top: 0em;
  padding-bottom:0em;
top: 55%;
transform: translateY(-55%);
}
.titulo-principal{
width:auto;
}
@media (max-width: 600px) {
.carousel-caption {
position: absolute;
top: 55%;
transform: translateY(-55%);
/* width: 100%; */
}
.titulo-principal{
}
}



/*****************/
/*** PROYECTOS ***/
/*****************/
/* img {
   margin-top: -60px;  
width: 100%;
height: 100%;
} */
.miLinea {
border-bottom: 2px solid #000; /* Puedes ajustar el grosor y el color según tus preferencias */
width: 100%; /* O el ancho que desees */
}


.titulo-con-lineas-proyectos-ubicacion {
margin-top: 5em;
display: flex;
align-items: center;
/* justify-content: center; */
width: 100%;
}
.titulo-con-lineas-proyectos-ubicacion h1 {
color: white;
margin: 0;
padding: 0em 1em; /* Añade espacio alrededor del título si lo deseas */
font-weight: 400;
}
.linea1 {
flex: 1;
height: 5px;
background-color: rgb(151, 109,0); /* Puedes ajustar el color según tus preferencias */
}
.linea {
flex: 5;
height: 5px;
background-color: rgb(151, 109,0); /* Puedes ajustar el color según tus preferencias */
}
@media (min-width: 600px) {
.Galeria-img {
 grid-template-columns: repeat(2, 1fr);
 margin-top: 6em;
}
}
@media (min-width: 800px) {
/* .Galeria-img {
 grid-template-columns: repeat(4, 1fr);
 margin: 0 auto;} */
}
.Galeria-img {
 grid-template-columns: repeat(4, 1fr);
display: grid;
grid-gap: 0px;
/* padding: 5rem 8rem 5rem 8rem; */
padding: 5rem 0rem 5rem 0rem;
margin: 0 auto;
}
.Galeria-img .fila {
display: flex;
justify-content: space-between;
height: 500px;
filter: grayscale(100%);
transition: 0.5s;
}
.Galeria-img .fila:hover {
filter: grayscale(0%);
transition: 0.5s;
}
.Galeria-img .fila .imagenes {
position: relative;
overflow: hidden;
transition: 0.3s;
/* border-radius: 15px; */
}
.Galeria-img .fila .imagenes:hover {
box-shadow: 5px 5px 10px 5px var(--color-hover);
transition: 0.3s;

}
.info {
position: absolute;
background: rgba(0, 0, 0, 0.603);
color: #ffffff;
font-weight: 600;
width: 100%;
height: 100%;
left: 0;
opacity: 1; /* Cambiado a 1 por defecto */
bottom: 0;
transition: .5s;
/* font-family: 'Montserrat', sans-serif; */
}
.info h1 {
padding: 1em;
font-size: 1.2em;
display: flex;
justify-content: left;
color: white; 

}
.info p {
margin-top: 50%;
padding-top: 90%;
/* padding-bottom: 90%; */
font-size: 1em;
text-align: center; /* Centra el texto */
letter-spacing: 5px;
transform: rotate(-90deg);
}
.Galeria .fila .imagenes .info {
opacity: 1;
bottom: 0;
transition: .5s;
}
.Galeria .fila .imagenes:hover .info {
opacity: 0;
bottom: -1000px;
}
img {
width: 100%;
height: 100%;
object-fit: cover;
}



/* ******* */
/* ESTUDIO */
/* ******* */
.titulo-con-lineas-estudio {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  padding-top: 3em;
    padding-bottom: 3em;
  }
  .titulo-con-lineas-estudio h1 {
  color: white;
  margin: 0;
  padding: 0em 1em; /* Añade espacio alrededor del título si lo deseas */
  font-weight: 400;
  }
  .imagenes-pequeñas{
    grid-template-columns: repeat(3, 1fr);
display: grid;
grid-gap: 0px;
  }


 .info-imagenes-pequeñas h1{
  padding: 10px 0px;
  display: flex;
color: rgb(151, 109,0);
font-size: clamp(20px, 4vw, 4px); 
/* font-size: 14px; */
}
.info-imagenes-pequeñas p{
  max-width: 90%;
  display: flex;
  text-align:left;
  padding: 10px 0px;
  font-weight: 200;
  display: flex;
color: rgb(212, 212, 212);
 font-size: clamp(20px, 4vw, 4px); 
/* font-size: 14px; */
}


.fondo-Seccion-estudio{
    /* margin-top: 1em; */
background-color: rgb(19, 19, 19) ;
    }
.titulo-con-lineas {
  /* margin-top: 3em; */
  padding-top: 3em;
 padding-bottom: 3em;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}
.titulo-con-lineas h1 {
/* background-color: aquamarine; */
  color: white;
  margin: 0;
  padding: 0em 1em; /* Añade espacio alrededor del título si lo deseas */
  font-weight: 400;
}
.linea1 {
  flex: 1;
  height: 5px;
  background-color: rgb(151, 109,0); /* Puedes ajustar el color según tus preferencias */
}
.linea {
  flex: 5;
  height: 5px;
  background-color: rgb(151, 109,0); /* Puedes ajustar el color según tus preferencias */
}



/*****************/
/*** UBICACION ***/
/*****************/
.titulo-con-lineas-proyectos-ubicacion {
   margin-top: 5em;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}
.titulo-con-lineas-proyectos-ubicacion h1 {
  color: white;
  margin: 0;
  padding: 0em 1em; /* Añade espacio alrededor del título si lo deseas */
  font-weight: 400;
}
.linea1 {
  flex: 1;
  height: 5px;
  background-color: rgb(151, 109,0); /* Puedes ajustar el color según tus preferencias */
}
.linea {
  flex: 5;
  height: 5px;
  background-color: rgb(151, 109,0); /* Puedes ajustar el color según tus preferencias */
}
.fondo-ubicacion {
    padding: 3em 5em 3em 5em;
}
/*******************/
/*** MAPA GOOGLE ***/
/*******************/
.fondo-ubicacion {
  padding: 1em 1em 3em 1em;
}
.mapa-ubicacion iframe{
  border-radius: 20px;
  width: 100%;
height: 284px;
}



/**************/
/*** FOOTER ***/
/**************/
.logo-footer{
  margin-top: -30px;
  width: 100%;
}
.parrafo-logo-footer{
font-weight: 400;
color: rgb(212, 212, 212);
font-size: clamp(24px, 4vw, 20px);
}
.site-footer{
    margin-bottom: -12em;
    background-color: rgb(19, 19, 19) ;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small{
  margin:20px 0
}
.site-footer h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:#737373;
}
.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
.site-footer .social-icons
{
   text-align: center; 
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:left;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#000000
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



/******************/
/*** PROYECTO 1 ***/
/******************/
/* #parrafo-oculto {
  display: none; 
} */
/* Estilo para las pestañas */
.img-thumbnail {
  /* padding: .25rem; */
  padding: 0rem;
  background-color: #fff;
  /* border: 1px solid var(--bs-border-color); */
  border: none;
  /* border-radius: .375rem; */
  border-radius: 0rem;
  max-width: 100%;
  height: auto;
  transition: 0.5s;
}
.img-thumbnail:hover {
  filter: brightness(50%);
  transition: 0.5s;
}

.parrafo-proyecto1{
  padding: 0em 1em;
}
.button{
  border: none;
  background-color: white;
  font-weight: 600;
}
/***************/
/*** GALERIA ***/
/***************/
.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "imagen pequenas";
    gap: 10px;
    padding: 5px;
}
.imagen-principal {
  grid-area: imagen;
  
}
.imagenes-pequenas {
  grid-area: pequenas;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.imagenes-pequenas img {
  width: 100%;
  height: auto;
}

/*************/
/*** logos ***/
/*************/
.Logos{
  border-top: 1px solid rgb(151, 109,0);
    border-bottom: 1px solid rgb(151, 109,0);
  display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 2em 3em 2em 3em;
    /* padding: 0; */
    /* overflow: hidden; */
}
.Logos li{
  list-style-type: none;
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-right: 0;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 500;
    /* white-space: nowrap; */
}


.Características{
  padding: 20px;
  /* background-color: #00aced; */ 
}
.ambientes{
  padding: 20px;
  /* background-color: #33353d; */
}
#ambientes-tab {
  color: inherit; 
  text-decoration: none;
}
#caracteristicas-tab{
  color: inherit; 
  text-decoration: none;
}
.tab-link {
  color: inherit; 
  text-decoration: none;
  transition: 0.5s;
  padding: 10px;
}
.tab-link.active {
  border-bottom: 3px solid red;
  background-color: rgb(182, 182, 182);
  padding: 10px;
  transition: 0.3s;
  
}

.nav-tabs {
  border-bottom: none; /* Elimina el borde inferior de los elementos de la lista */
}



.modal-title{
  color: blue;
}



/* MEDIA CUIRE */
@media screen and (min-width:320px) and (max-width: 340px){
  .info p {
    margin-top: 70%;
    padding-top: 85%;
    }
}
@media screen and (min-width:340px) and (max-width: 370px){
  .info p {
    margin-top: 60%;
    padding-top: 85%;
    }
}
@media screen and (min-width:370px) and (max-width: 420px){
  .info p {
    margin-top: 48%;
    padding-top: 85%;
    }
}
@media screen and (min-width:420px) and (max-width: 450px){
  .info p {
    margin-top: 45%;
    padding-top: 85%;
    }
}
@media screen and (min-width:450px) and (max-width: 480px){
  .info p {
    margin-top: 36%;
    padding-top: 85%;
    }
}
@media (max-width: 990px) {
  .fondo-color-del-nav {
    backdrop-filter: blur(10px) ; /* Aplica un desenfoque */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    transition: background-color 0.3s ease;
    padding: 0px 0px;
}
}


/* MEDIA CUIRE DEL 320 AL 480 */
@media screen and (min-width:320px) and (max-width: 480px){

  .img-navbar img {
    height: 70px;
    padding: 0px 8px;
}
.imagen-oficina{
  margin-top: 4em;
}
.carousel-caption {
  top: 70%;
  }
  .titulo-con-lineas h1 {
    font-size: 1em;
    }


/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-con-lineas-proyectos-ubicacion {
  margin: 0px;
  padding-top: 3em;
  padding-bottom: 0em;
}
.titulo-con-lineas-proyectos-ubicacion h1 {
  font-size: 1em;
    }
  .Galeria-img {
    grid-template-columns: repeat(2, 1fr);
   display: grid;
   grid-gap: 0px;
   /* padding: 5rem 8rem 5rem 8rem; */
   padding: 3rem 0rem 0rem 0rem;
   margin: 0 auto;
   }
   .Galeria-img .fila {
   height: 300px;
   }
    .info h1 {
    padding: 1em;
    font-size: 10px;
    }
    .info p {
    font-size: 10px;
    }

/* ESTUDIO */
.titulo-con-lineas-estudio{
    padding-top: 3em;
    padding-bottom: 3em; 
}
.titulo-con-lineas-estudio h1{
  font-size: 1em;
}
 .imagenes-pequeñas{ 
  grid-template-columns: repeat(2, 1fr);
display: grid;
grid-gap: 0px;
}
  .row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
 padding: 8px 12px;
  margin-top: var(--bs-gutter-y);
}  

.info-imagenes-pequeñas{
  grid-template-columns: repeat(1, 1fr);
display: grid;
grid-gap: 0px;
} 


/* footer */
 .site-footer .social-icons {
  text-align: center;
} 




}


