@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
  


/* *********************/
/* MENU HAMBURGUESA ****/
/* *********************/
div .navbar-toggler{
    border: none;
}
  .logo-navbar {
    color: red;
    font-size: 1.5em;
  }
  .navbar-toggler[aria-expanded="true"] .fa-bars {
    display: none;
  }

  .navbar-toggler[aria-expanded="true"] .fa-times {
    display: inline-block;
  }

  .navbar-toggler[aria-expanded="false"] .fa-bars {
    display: inline-block;
  }

  .navbar-toggler[aria-expanded="false"] .fa-times {
    display: none;
  }
  .whatsapp-link {
     position: fixed;
     width: 50px;
     height: 50px;
      bottom: 40px;
      right: 20px;
      background-color: #19b552;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 25px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
      transition: 0.5s;
      line-height: 50px; /* Centra verticalmente el contenido */
  }
  .whatsapp-link:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
    transition: 0.4s;
    transform: scale(1.2)
 }
 .whatsapp-link-ig {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 120px;
  right: 20px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: 0.5s;
  line-height: 50px; /* Centra verticalmente el contenido */
}
.whatsapp-link-ig:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.whatsapp-link-py {
  position: fixed;
  text-decoration: none;
  width: 50px;
  height: 50px;
  bottom: 200px;
  right: 20px;
  background-color: #FF003D;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  font-weight:bold;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: 0.5s;
  line-height: 50px; /* Centra verticalmente el contenido */
}
.whatsapp-link-py:hover {
  text-decoration: none;
  color: #FF003D;
  background-color: #fff;
  transition: 0.4s;
  transform: scale(1.2);
}








/********************/
/* NAVBAR-PRINCIPAL */
/********************/
.navbar-nav {
 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.collapse{
  display: flex;
  justify-content: center;
}

.container-fluid{
    padding: 8px 0px;
}
.fondo-del-nav {
  background-color: transparent;
  border-bottom: solid 5px;
  border-color: rgba(226, 29, 39, 0);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}
.scrolled .fondo-del-nav {
  background-color: white; /* O el color que desees */
  border-bottom: solid 5px;
  border-color: rgb(226, 29, 38);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}
.scrolled .diseño-texto-navbar {
  color: rgb(0, 0, 0);
}
.posicion-nav.collapse.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* También puedes aplicar estilos directamente a los elementos <a> si no están dentro de un <ul>/<li> */
.posicion-nav.collapse.show a {
  display: block; /* Para que ocupe el ancho completo */
  text-align: center;
}
.nav-item a {
    color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 10px;
  font-size: 1em;
}
.nav-item a:hover{
  color: rgb(226, 29, 38);
}
.diseño-texto-navbar {
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 900;
  transition: 0.3s;
  border-bottom: solid 2px transparent;
}
.diseño-texto-navbar:hover,
.nav-item.seleccionado .diseño-texto-navbar {
  transition: 0.3s;
  border-bottom: solid 2px rgb(226, 29, 38);
}
   



















/***********************/
/* FONDO DE PEDIDOS YA */
/***********************/ 
.fondo-delivery-de-py img{
  max-width: 100%;
}


/*************************************/
/* FONDO Y ESTILOS PARA LOS HORARIOS */
/*************************************/
  .horarios-container {
    background-color: #26235E;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
   .horarios-container h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  .text-center {
    text-align: center;
  }
  .horarios-info {
    display: flex;
    justify-content: space-around; /* Opcional: puedes probar con 'space-between' para más espacio entre los elementos */
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    overflow: hidden; /* Para ocultar cualquier desbordamiento del contenido */
  }
  .horario-item {
    text-align: center;
    width: 100%; /* Esto asegura que ambos elementos ocupen el mismo ancho */
    box-sizing: border-box; /* Asegura que el ancho incluya el relleno y el borde */
  }
  .horarios-info p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .horario-item > h2,
.horario-item > p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*******************/
/* MENY Y HORARIOS */
/*******************/
.content-item {
  display: none;
}
#Pizzas {
  display: block;
}
.menu .menu-button.selected {
  color: rgb(226, 29, 38);
  border-bottom: solid 3px rgb(226, 29, 38);
}
.fondoDeLosPrecios{
  margin: 3em;  
}
.menu-item {
  min-width: 100px;/* Asegúrate de que los elementos hijos sean lo suficientemente anchos */
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  border: 3px solid transparent; /* Establece un borde transparente por defecto */
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}
.menu-item:hover {
  box-shadow: rgba(0, 0, 0, 0.226) 0px 6px 16px;
}
.menu-item h3 {
  padding-top: 10px;
font-size: 1.5em;
display: flex;
justify-content: center;
  text-align: center;
}
.menu-item > div p {/*esto es para centrar verticalmente los párrafos dentro de su contenedor. ya que align-items y las propiedades relacionadas como display: flex y justify-content aplican principalmente a contenedores flexibles, no a elementos de bloque como los párrafos. */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.price {
  margin: 0px 0px 16px;
  font-size: 2em;
  color: #e44d26;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.menu-item img {
 border-radius: 25px; 
}
.card__preview img:hover {
  transform: scale(1.15);
}
.menu-container{
display: grid;
 /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  */
grid-template-columns: repeat(5, 1fr);/*  5 columnas con igual fracción del ancho */
gap: 16px;
}


/********************/
/* MENU DE LA CARTA */
/********************/
.menu .menu-button{
  border-bottom: solid 3px transparent;
  transition: border-bottom 0.1s ease;
  background-color: #fafafa;
}
.menu button {
  color: #26235E;
  border: none;
  margin: 8px 16px;
  margin-top: 2em;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}
.menu-button i{
  font-size: 3em;
}
.menu button:hover{
  color: rgb(226, 29, 38); 
  transition: 0.2s;
  background-color: #fafafa;
}
/* BOTON DE PEDIDOS YA */
.menu-item .condimentos{
  padding-top: 1em;
  font-weight: 600;
  color: #555;
}
.condimentos-container {
  text-align-last: center;
}
.menu-item .boton-verEnPedidosYa{
  font-family: 'Montserrat', sans-serif;
    width: 100%;
  background-color: rgb(234, 4, 78);
  color: white;
  border: none;
   padding: 8px 16px;
   margin: 0px 0px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent; /* Establece un borde transparente por defecto */
  border-radius: 10px;
}

.menu-item .boton-verEnPedidosYa:hover{
  background-color:  white;
  color: rgb(234, 4, 78);
  border: solid 1px;
}
:root {
  --primary: #111926;
  --white: #fff;
  --background: #F8F8FF;
  --gray: #D3D3D3;
  --text: #262626;
  --like: #FF3040;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
}
.card__preview {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.card__preview img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
  border-radius: 20px;
}
.card:hover .card__preview img {
  transform: scale(1.15);
}
.card__price {
  background-color: var(--white);
  color: var(--text);
  z-index: 1;
  position: absolute;
  bottom: 1.25rem;
  /* padding: 0.25rem 0.5rem; */
  border-radius: 0.5rem;
  left: 1.25rem;
  font-weight: bold;
  /* margin: 0px 0px 30px; */
}
button.card__btn{
  margin: 0px 0px 0px;
  border-radius: 25px;
}
.card__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__btn svg {
  height: 2rem;
  width: 2rem;
  stroke: var(--text);
  stroke-width: 1.5px;
}
.card__btn--like svg {
  stroke: var(--like);
  fill: var(--like);
}



/***************/
/* PROMOCIONES */
/***************/
.promociones-container {
 padding: 20px;
  background-color: #26235E;
  margin-bottom: 3rem;
}
.promocion-imagen {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}
.contador-regresivo {
  text-align: center;
}
.contador-regresivo p {
  padding: 10px 0px;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.5rem;
}
/* Estilos para el contador regresivo de react-countdown */
.tiempo-restante {
  padding-bottom: 20px;
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: bold;
}



/***********/
/* EVENTOS */
/***********/
.imagen-evento{
background-image: url(../img/dsBuffer.jpg);
  background-size: cover;
  background-position: center center;
  height: 60vh;
  padding: 100px;
}
.titulo-evento h2{
  font-size: 3em;
  font-weight: 600;
  color: #fff; /* Color del texto, ajusta según tu diseño */
}
.titulo-evento p{
  color: #fff;
 font-weight: 600;
}
.boton-whatsapp {
  width: 100%;
  background-color: #25d366;
color: white;
 padding: 12px 22px;
text-decoration: none;
font-size: 1rem;
cursor: pointer;
border: 1px solid transparent; /* Establece un borde transparente por defecto */
border-radius: 25px;
transition: 0.2s;
}
.boton-whatsapp:hover{
  background-color:  white;
  color: #25d366;
  border: solid 1px #25d366;
  transition: 0.2s;
  }



/***************/
/* Galeria.css */
/***************/
.galeria-container {
  background-color: #ececec;
  padding: 4em 3em 3em 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.galeria-imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}



/*************/
/* UBICACION */
/*************/
.fondo-ubicacion{
  background-color: #26235E;
  padding: 3em 5em 3em 5em;
 }
.fondo-ubicacion iframe{
  border: solid 2px #fafafa;
}
  footer {
    background-color: rgb(226, 29, 38); 
    color: #fff;
    text-align: center;
    padding: 10px;
  }








/* ***************************/
/* TEXTO DE IMAGEN PRINCIPAL-PAGINA-UNIDAD*/
/* ***************************/
.BuffetStentor{
  font-size: 4em;
  font-weight: 600;
  color: rgb(226, 29, 38);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
  
}
.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  /* width: 100%; */
  text-align: center;
}
.bienvenida {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 36px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
  /***************/
  /* MEDIA CUIRE */
  /***************/
/* probando */
@media (max-width: 1212px) {
  .menu-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .menu-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav-item a {
    font-size: 12px;
  }
/*******************/
/* MENY Y HORARIOS */
/*******************/
.menu .logos-menu{
  overflow-x: auto;
  white-space: nowrap;
}
}



@media screen and (min-width: 992px) and (max-width: 1211px){
/*******************/
/* MENY Y HORARIOS */
/*******************/
.menu .logos-menu{
  overflow-x: auto;
  white-space: nowrap;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 16px;
  overflow-x: auto;
}

.menu-item .boton-verEnPedidosYa {
  
  font-size: 10px;

}
}


/**********************************************************/
/* 991PX */
/**********************************************************/
@media (max-width: 991px) {
  /********************/
/* NAVBAR-PRINCIPAL */
/********************/
.container-fluid{
  background-color: #ffffff;
  padding: 0px 30px;
}
.nav-item a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 10px;
  padding: 10px 8px 0px;
}
.fondo-del-nav {
  padding: 0px;
  border-color: rgb(226, 29, 38);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}
  .fondo-del-nav img{
   width: 40%;
   padding: 20px 0px;
    }
.BuffetStentor{
  font-size: 2em;
}
.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  /* width: 100%; */
  text-align: center;
}
.bienvenida {
  font-size: 26px;
}
/*************************************/
/* FONDO Y ESTILOS PARA LOS HORARIOS */
/*************************************/
    .horario-item {
  padding: 0px 10px;
  }
  .fondo-principal{
    margin-top: 3em;
  }
.horarios-container {
    padding: 10px;
  }
   .horarios-container h1 {
   font-size: 1rem ;
}
  .horarios-info p {
    font-size: 10px;
    margin: 0px 0px;
  }
  .horario-item > h2{
    font-size: 1rem;
  }
/*******************/
/* MENY Y HORARIOS */
/*******************/
.menu .logos-menu{
  overflow-x: auto;
  white-space: nowrap;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 16px;
  overflow-x: auto;
}
/* BARRA DE SCROOL DEL MENU Y DE LA CARTA */
.menu-container::-webkit-scrollbar {
  background-color: #fafafa;
}
 .logos-menu::-webkit-scrollbar {
  background-color: #fafafa;
}
.fondoDeLosPrecios {
  margin: 1em;
}
/********************/
/* MENU DE LA CARTA */
/********************/
.menu-button{
  font-size: 1em;
}
.menu-button i{
  font-size: 2em;
}
.menu-item{
  width: 200px; /* O ajusta según sea necesario */
}
.menu-item h3 {
  font-size: 14px;
}
.price {
  font-size: 1.5em;
}
  .porcentaje-valor-producto{
    font-size: 10px;
    padding: 4px 8px;
  }
/* BOTON DE PEDIDOS YA */
.menu-item .condimentos{
  padding-top: 1em;
  font-size: 14px;
}
.menu-item .boton-verEnPedidosYa {
  font-size: 10px;
}
/*******************/
/* Promociones.css */
/*******************/
/* esto lo agregue para ver como queda el contador */
.promocion-imagen {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0px;
}
.contador-regresivo {
  text-align: center;
}
.contador-regresivo p {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 10px;
}
/* Estilos para el contador regresivo de react-countdown */
.tiempo-restante {
  color: #ffffff;
  font-size: 10px;
}
.boton-whatsapp {
  width: 100%;
  background-color: #25d366;
color: white;
padding: 6px 12px;
 margin: 0px 0px;
text-decoration: none;
font-size: 10px;
cursor: pointer;
border: 1px solid transparent; /* Establece un borde transparente por defecto */
border-radius: 25px;
}
.boton-whatsapp:hover{
  background-color:  white;
  color: #25d366;
  border: solid 1px #25d366;
  }
/***********/
/* EVENTOS */
/***********/
.imagen-evento{
    height: 40vh;
    padding: 30px 40px 20px 40px;
  }
.titulo-evento h2{
  font-size: 1.5em;
}
.titulo-evento p{
  font-size: 1em;
  color: #fff;
 font-weight: 600;
}
/***************/
/* Galeria.css */
/***************/
.galeria-container {
  background-color: #ececec;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/*************/
/* UBICACION */
/*************/
.fondo-ubicacion {
  background-color: #26235E;
  padding:1.5em;
}
}
/**********************************************************/
/* 800PX */
/**********************************************************/
@media (max-width: 800px) {
/********************/
/* NAVBAR-PRINCIPAL */
/********************/
.container-fluid{
  background-color: #ffffff;
  padding: 0px 30px;
}
.nav-item a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 10px;
  padding: 10px 8px 0px;
}
.fondo-del-nav {
  padding: 0px;
  border-color: rgb(226, 29, 38);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}
  .fondo-del-nav img{
   width: 40%;
   padding: 20px 0px;
    }
.BuffetStentor{
  font-size: 2em;
}
.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  /* width: 100%; */
  text-align: center;
}
.bienvenida {
  font-size: 26px;
}
/*************************************/
/* FONDO Y ESTILOS PARA LOS HORARIOS */
/*************************************/
    .horario-item {
  padding: 0px 10px;
  }
  .fondo-principal{
    margin-top: 3em;
  }
.horarios-container {
    padding: 10px;
  }
   .horarios-container h1 {
   font-size: 1rem ;
}
  .horarios-info p {
    font-size: 10px;
    margin: 0px 0px;
  }
  .horario-item > h2{
    font-size: 1rem;
  }
/*******************/
/* MENY Y HORARIOS */
/*******************/
.menu .logos-menu{
  overflow-x: auto;
  white-space: nowrap;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 16px;
  overflow-x: auto;
}
/* BARRA DE SCROOL DEL MENU Y DE LA CARTA */
.menu-container::-webkit-scrollbar {
  background-color: #fafafa;
}
 .logos-menu::-webkit-scrollbar {
  background-color: #fafafa;
}
.fondoDeLosPrecios {
  margin: 1em;
}
/********************/
/* MENU DE LA CARTA */
/********************/
.menu-button{
  font-size: 1em;
}
.menu-button i{
  font-size: 2em;
}

.menu-item h3 {
  font-size: 14px;
}
.price {
  font-size: 1.5em;
}
  .star {
    font-size: 20px;
  }
  .porcentaje-valor-producto{
    font-size: 10px;
    padding: 4px 8px;
  }
/* BOTON DE PEDIDOS YA */
.menu-item .condimentos{
  padding-top: 1em;
  font-size: 14px;
}
.menu-item .boton-verEnPedidosYa {
  font-size: 10px;
}
/*******************/
/* Promociones.css */
/*******************/
/* esto lo agregue para ver como queda el contador */
.promocion-imagen {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0px;
}
.contador-regresivo {
  text-align: center;
}
.contador-regresivo p {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 10px;
}
/* Estilos para el contador regresivo de react-countdown */
.tiempo-restante {
  color: #ffffff;
  font-size: 10px;
}
.boton-whatsapp {
  width: 100%;
  background-color: #25d366;
color: white;
padding: 6px 12px;
 margin: 0px 0px;
text-decoration: none;
font-size: 10px;
cursor: pointer;
border: 1px solid transparent; /* Establece un borde transparente por defecto */
border-radius: 25px;
}
.boton-whatsapp:hover{
  background-color:  white;
  color: #25d366;
  border: solid 1px #25d366;
  }
/***********/
/* EVENTOS */
/***********/
.imagen-evento{
    height: 40vh;
    padding: 30px 20px 20px 20px;
  }
.titulo-evento h2{
  font-size: 1.5em;
}
.titulo-evento p{
  font-size: 1em;
  color: #fff;
 font-weight: 600;
}
/***************/
/* Galeria.css */
/***************/
.galeria-container {
  background-color: #ececec;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/*************/
/* UBICACION */
/*************/
.fondo-ubicacion {
  background-color: #26235E;
  padding:1.5em;
}
}
/**********************************************************/
/* 600PX */
/**********************************************************/
@media (max-width: 600px) {
/********************/
/* NAVBAR-PRINCIPAL */
/********************/
.container-fluid{
  background-color: #ffffff;
  padding: 0px 30px;
}
.nav-item a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 10px;
  padding: 10px 8px 0px;
}
.fondo-del-nav {
  border-color: rgb(226, 29, 38);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}
  .fondo-del-nav img{
   width: 40%;
    }
    .container-fluid{
      padding: 8px 0px;
  }
.BuffetStentor{
  font-size: 1em;
}
.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  /* width: 100%; */
  text-align: center;
}
.bienvenida {
  font-size: 16px;
}
/*************************************/
/* FONDO Y ESTILOS PARA LOS HORARIOS */
/*************************************/
    .horario-item {
  padding: 0px 10px;
  }
  .fondo-principal{
    margin-top: 3em;
  }
.horarios-container {
    padding: 10px;
  }
   .horarios-container h1 {
   font-size: 1rem ;
}
  .horarios-info p {
    font-size: 10px;
    margin: 0px 0px;
  }
  .horario-item > h2{
    font-size: 1rem;
  }
/*******************/
/* MENY Y HORARIOS */
/*******************/
.menu .logos-menu{
  overflow-x: auto;
  white-space: nowrap;
}
/* BARRA DE SCROOL DEL MENU Y DE LA CARTA */
.menu-container::-webkit-scrollbar {
  background-color: #fafafa;
}
 .logos-menu::-webkit-scrollbar {
  background-color: #fafafa;
}
.fondoDeLosPrecios {
  margin: 1em;
}
/********************/
/* MENU DE LA CARTA */
/********************/
.menu-button{
  font-size: 1em;
}
.menu-button i{
  font-size: 2em;
}
.menu-item h3 {
  font-size: 14px;
}
.price {
  font-size: 1.5em;
}
  .star {
    font-size: 20px;
  }
  .porcentaje-valor-producto{
    font-size: 10px;
    padding: 4px 8px;
  }
/* BOTON DE PEDIDOS YA */
.menu-item .condimentos{
  padding-top: 1em;
  font-size: 14px;
}
.menu-item .boton-verEnPedidosYa {
  font-size: 10px;
}
/*******************/
/* Promociones.css */
/*******************/
/* esto lo agregue para ver como queda el contador */
.promocion-imagen {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0px;
}
.contador-regresivo {
  text-align: center;
}
.contador-regresivo p {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 10px;
}
/* Estilos para el contador regresivo de react-countdown */
.tiempo-restante {
  color: #ffffff;
  font-size: 10px;
}
.boton-whatsapp {
  width: 100%;
  background-color: #25d366;
color: white;
 padding: 6px 12px;
 margin: 0px 0px;
text-decoration: none;
font-size: 1em;
cursor: pointer;
border: 1px solid transparent; /* Establece un borde transparente por defecto */
border-radius: 25px;
}
.boton-whatsapp:hover{
  background-color:  white;
  color: #25d366;
  border: solid 1px #25d366;
  }
/***********/
/* EVENTOS */
/***********/
.imagen-evento{
    height: 40vh;
    padding: 30px 20px 20px 20px;
  }
.titulo-evento h2{
  font-size: 1em;
}
.titulo-evento p{
  font-size: 14px;
  color: #fff;
 font-weight: 600;
}
/***************/
/* Galeria.css */
/***************/
.galeria-container {
  background-color: #ececec;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/*************/
/* UBICACION */
/*************/
.fondo-ubicacion {
  background-color: #26235E;
  padding:1.5em;
}

}
